body {
    margin: 0;
}

#screen {
    width: 56.25vw;
    height: 100vw;
    background-color: green;
    overflow: hidden;
    position: relative;
    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* effekter */

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dissappear {
    animation-name: disappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes disappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

#game_background {
    position: absolute;
    /*
    top: 0;
    left: 0;
*/
    width: 56.25vw;
    height: 100vw;
    background-image: url(svgfiler/background.svg);
    background-size: 100%;
}

#game_foreground {
    position: absolute;
    /*
    top: 0;
    left: 0;
*/
    width: 56.25vw;
    height: 100vw;
    /*    background-image: url();*/
    background-size: 100%;
    pointer-events: none;
}

#gameover {
    position: absolute;
    /*
    top: 0;
    left: 0;
*/
    width: 56.25vw;
    height: 100vw;
    /*    background-image: url();*/
    background-size: 100%;
    pointer-events: none;
}

#levelcomplete {
    position: absolute;
    /*
    top: 0;
    left: 0;
*/
    width: 56.25vw;
    height: 100vw;
    /*    background-image: url();*/
    background-size: 100%;
    pointer-events: none;
}

.nude {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.7vw;
    height: 100vw;
    background-image: url(svgfiler/nude_girl.svg);

    background-size: 100%;
    cursor: pointer;
    top: 13.9vw;
    left: 9.3vw;
}

.cake {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.7vw;
    height: 100vw;
    background-image: url(svgfiler/cake.svg);

    background-size: 100%;
    cursor: pointer;
    top: 13.9vw;
    left: 9.3vw;
}

.happy {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.7vw;
    height: 100vw;
    background-image: url(svgfiler/happy_boy.svg);

    background-size: 100%;
    cursor: pointer;
    top: 13.9vw;
    left: 9.3vw;
}

.dog_filter {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.7vw;
    height: 100vw;
    background-image: url(svgfiler/dog_filter.svg);

    background-size: 100%;
    cursor: pointer;
    top: 13.9vw;
    left: 9.3vw;
}
