body {
    margin: 0;
}

#screen {
    width: 56.25vw;
    height: 100vw;
    background-color: green;
    overflow: hidden;
    position: relative;
    /*  touch-action: none;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* effekter */

.hide {
    visibility: hidden;
}

.show {
    visibility: visible;
}

.blur {
    filter: blur(5px) brightness(80%);
}

.fade_out {
    animation-name: fadeout_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeout_kf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.disappear {
    animation-name: disappear_kf;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.59, -0.56, .77, 1.34);
    animation-fill-mode: forwards;
}

@keyframes disappear_kf {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
}

@keyframes pulse_kf {
    0% {
        transform: scale(0.97);
    }

    100% {
        transform: scale(1);
    }
}

#start {
    position: absolute;
    width: 56.25vw;
    height: 100vw;
    background-image: url(svgfiler/startscreen.svg);
    background-color: aliceblue;
    background-size: 100%;
    top: 0;
    left: 0;
}

#play {
    position: absolute;
    background-repeat: no-repeat;
    width: 15vw;
    height: 15vw;
    background-image: url(svgfiler/playbutton.svg);
    background-size: 100%;
    left: 10vw;
    top: 30vw;

    cursor: pointer;
}



#menu_background {

    display: none;

}


#game {
    width: 56.25vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

#game_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 56.25vw;
    height: 100vw;
    background-image: url(svgfiler/background.svg);
    background-size: 100%;
}

#game_foreground {
    position: absolute;

    top: 30vw;
    left: 0.9vw;

    background-repeat: no-repeat;
    width: 56.25vw;
    height: 64vw;
    background-image: url(svgfiler/foreground_fingers.svg);
    background-size: 100%;
    pointer-events: none;
}

/*
#foreground {
      position: absolute;

    top: 30vw;
    left: 0.9vw;

    background-repeat: no-repeat;
    width: 7vw;
    height: 64vw;
        background-image: url(svgfiler/foreground1.svg);
    background-size: 100%;
    pointer-events: none;
}
*/
/*

#phone_btn {
    position: absolute;
    background-repeat: no-repeat;
    top: 77vw;
    left: 25vw;
    width: 7vw;
    height: 7vw;
    background-image: url(svgfiler/phone_button.svg);
    background-size: 100%;

}
*/

/*LYD */

#sfx {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 6vw;
    position: absolute;
    top: 3vw;
    right: 49.9vw;
}

#music {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 6vw;
    height: 7vw;
    position: absolute;
    top: 9vw;
    right: 50.5vw;
}



.music_on {

    background-image: url(svgfiler/music_on.svg);
}

.music_off {

    background-image: url(svgfiler/music_off.svg);
}

.sfx_on {

    background-image: url(svgfiler/sound_on.svg);
}

.sfx_off {

    background-image: url(svgfiler/sound_off.svg);
}

/*GAMESTATUS*/
#gameover {
    position: absolute;
    top: 0;
    left: 0;
    width: 56.25vw;
    height: 100vw;
    background-image: url(svgfiler/game_over.svg);
    background-size: 100%;
    pointer-events: none;
}

#levelcomplete {
    position: absolute;
    top: 0;
    left: 0;
    width: 56.25vw;
    height: 100vw;
    background-image: url(svgfiler/win_screen.svg);
    background-size: 100%;
    pointer-events: none;
}

/*FIGURELEMENTER*/

.type1 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/nude_girl.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;

}

.type8 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/nude_boy.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}


.type2 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/cake.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}

.type3 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/paris_boy.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}

.type4 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/dog_filter.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}

.type5 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/shoes.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}

.type6 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/purple_girl.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}

.type7 {
    position: absolute;
    background-repeat: no-repeat;
    width: 38.9vw;
    height: 63vw;
    background-image: url(svgfiler/swan.svg);

    background-size: 100%;
    cursor: pointer;
    top: 20.4vw;
    left: 8.9vw;
}
